<a href="https://colab.research.google.com/github/endangrusiana123/SLO/blob/main/assignment5_endang_rusiana_201012320036.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 5: Assignment-Data Visualization

Lakukan telaah dengan dengan ketentuan yang tertulis di Latihan 1 pada slide "Lecture Note 6-1: Data VisualizationFile ".

Menampilkan data head untuk menelaah data

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')
import pandas as pd

path = "/content/drive/MyDrive/Colab Notebooks/SLO/Tugas_Week_5/epl-goalScorer(20-21).csv"
df = pd.read_csv(path)
df.head()

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

,Unnamed: 0,id,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
0,0,647,Harry Kane,35,3097,23,22.174859,14,7.577094,138,49,1,0,F,Tottenham,19,19.130183,24.995648,4.451257
1,1,1250,Mohamed Salah,37,3085,22,20.250847,5,6.528526,126,55,0,0,F M S,Liverpool,16,15.683834,28.968234,9.800236
2,2,1228,Bruno Fernandes,37,3117,18,16.019454,12,11.474996,121,95,6,0,M S,Manchester United,9,8.407840,26.911412,11.932285
3,3,453,Son Heung-Min,37,3139,17,11.023287,10,9.512992,68,75,0,0,F M S,Tottenham,16,10.262118,20.671916,6.608751
4,4,822,Patrick Bamford,38,3085,17,18.401863,7,3.782247,107,30,3,0,F S,Leeds,15,16.879525,23.394953,4.131796

1. 10 Player terbanyak mencetak gol

In [ ]:
df_sorted = df.sort_values(by='goals', ascending=False)
top_10_players = df_sorted.head(10)[['player_name', 'goals']]
print(top_10_players)

             player_name  goals
0             Harry Kane     23
1          Mohamed Salah     22
2        Bruno Fernandes     18
3          Son Heung-Min     17
4        Patrick Bamford     17
5  Dominic Calvert-Lewin     16
6            Jamie Vardy     15
7          Ollie Watkins     14
8         Ilkay Gündogan     13
9    Alexandre Lacazette     13

2. 10 player terlama durasi bermain

In [ ]:
df_sorted = df.sort_values(by='time', ascending=False)
top_10_players = df_sorted.head(10)[['player_name', 'time']]
print(top_10_players)

               player_name  time
296            Hugo Lloris  3420
378      Emiliano Martinez  3420
311      Kasper Schmeichel  3420
110  Pierre-Emile Højbjerg  3420
40           Stuart Dallas  3412
327           Matt Targett  3407
480            Luke Ayling  3400
204       Andrew Robertson  3391
55         Youri Tielemans  3359
7            Ollie Watkins  3330

3. 10 player terbanyak assist

In [ ]:
df_sorted = df.sort_values(by='assists', ascending=False)
top_10_players = df_sorted.head(10)[['player_name', 'assists']]
print(top_10_players)

         player_name  assists
0         Harry Kane       14
2    Bruno Fernandes       12
58   Kevin De Bruyne       11
3      Son Heung-Min       10
51     Jack Grealish       10
15   Marcus Rashford        9
6        Jamie Vardy        9
57          Raphinha        9
49       Timo Werner        8
281  Aaron Cresswell        8

4 player pencetak gol terbanyak dari kesebelasan manchester city

In [ ]:
man_city_players = df[df['team_title'] == 'Manchester City']
man_city_sorted = man_city_players.sort_values(by='goals', ascending=False)
top_4_goal_scorers = man_city_sorted.head(4)[['player_name', 'goals']]
print(top_4_goal_scorers)

        player_name  goals
8    Ilkay Gündogan     13
22  Raheem Sterling     10
28     Riyad Mahrez      9
35    Gabriel Jesus      8

5. Dari kesebelasan mana pencetak gol terbanyak?

In [ ]:
df_sorted = df.sort_values(by='goals', ascending=False)
top_goal_scorer_team = df_sorted.iloc[0]['team_title']
print("Team Title of the Top Goal Scorer:", top_goal_scorer_team)

Team Title of the Top Goal Scorer: Tottenham

6. Berapa jumlah kartu kuning dan merah yang diterima pembuat assist  terbanyak ?

In [ ]:
top_assist_player = df[df['assists'] == df['assists'].max()]
player_info = top_assist_player[['player_name', 'assists', 'red_cards', 'yellow_cards']]
print(player_info)

  player_name  assists  red_cards  yellow_cards
0  Harry Kane       14          0             1

7. Siapa yang jumlah assist dan golnya paling banyak dan dari kesebelasan mana ?

In [ ]:
df['goals_plus_assists'] = df['goals'] + df['assists']
top_player = df[df['goals_plus_assists'] == df['goals_plus_assists'].max()]
player_info = top_player[['player_name', 'team_title', 'goals', 'assists','goals_plus_assists']]
print(player_info)

  player_name team_title  goals  assists  goals_plus_assists
0  Harry Kane  Tottenham     23       14                  37

8. 5 kesebelasan yang menyumbangkan gol terbanyak

In [ ]:
team_goals = df.groupby('team_title')['goals'].sum()
top_5_teams = team_goals.sort_values(ascending=False).head(5)
print(top_5_teams)

team_title
Manchester City      77
Manchester United    68
Tottenham            66
Liverpool            64
Leicester            64
Name: goals, dtype: int64

9. Urutkan pemain berdasarkan jumlah gol terbanyak tanpa mendapatkan kartu sama sekali !

In [ ]:
filtered_players = df[(df['yellow_cards'] == 0) & (df['red_cards'] == 0)]
sorted_players = filtered_players.sort_values(by='goals', ascending=False)
sorted_player_info = sorted_players[['player_name', 'yellow_cards', 'red_cards', 'goals']]
print(sorted_player_info)

         player_name  yellow_cards  red_cards  goals
1      Mohamed Salah             0          0     22
3      Son Heung-Min             0          0     17
13        Chris Wood             0          0     12
28      Riyad Mahrez             0          0      9
29     Harvey Barnes             0          0      9
..               ...           ...        ...    ...
353      Lys Mousset             0          0      0
343    Islam Slimani             0          0      0
341       Moise Kean             0          0      0
340          Emerson             0          0      0
521  Tyrese Francois             0          0      0

[164 rows x 4 columns]